.view-container {
    width: 100vw;
    display: flex;
}

div[class^='col'] {
    padding: 0;
}

.row {
    margin: 0 !important;
}

.view-model {
    height: 800px;
}

@media screen and (max-width: 576px) {
    .view-model {
        height: 80vh;
    }
}