.color-setting-container {
}

.option-item {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid #b2bec3;
}

.option-item-container {
    padding: 7px;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
}

.option-item-container.active {
    border-color: #631c30;
}
